<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1>App details </h1>
    <div>
      <br>
     <h4>Description </h4>
     <p>This app is a CRUD Web Application using Node.js, Express, RESTful API and which helps to schedule, assign, plan and manage the tasks. </p>
     <h4>Architecture  <h4>
      <img src="images/crud-express-mongo.png" alt="Architecture CRUD App" style="width:500px;height:300px;">
     <h4>Tech stack </h4>
     <ul style="list-style-type:disc">
      <li><h4>Front-end</h4>
        <ul>
        <li>HTML5, CSS3</li>
        </ul>
      </li>
      <li><h4>Back-end</h4>
        <ul>
        <li>Template engine : Embedded js(ejs)</li>
        <li> Express, Node.js, ES6</li>
        </ul>
      </li>
      <li><h4>Database</h4>
        <ul>
        <li> MongoDB hosted on AWS by mlab</li>
        <li> mLab is MongoDB hosting platform that provides cloud Database-as-a-Service </li>
        </ul>
      </li>

      <li><h4>Client-server communication / Web services</h4>
        <ul>
        <li> RESTful API</li>
        <li> JSON , CRUD Operations </li>
        </ul>
      </li>
      <li><h4>Deployment</h4>
        <ul>
        <li> Heroku</li>
        <li> version control system : GIT</li>
        </ul>
      </li>
    </ul>
    </div>
    <h4>NOTE  </h4>
    <p>This app is in progress and working on some cross-browser issues!!</p>
  <button id="backButton" onclick="window.history.back()"> Back </button>
  </body>
  <footer>
    &copy; Hari kumar Gurudu 2017. All Rights Reserved.
  </footer>
</html>
