<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %> : </h1>
    <div>
     <h4>Description: </h4>
     <p>This app is a CRUD Web Application, which helps to schedule,assign,plan and manage the tasks. </p>
     <h4>Tech stack: </h4>
     <p> HTML5, CSS3, Javascript, ES6, Node.js, Embedded js, Express, REST API, MongoDB hosted on AWS by mlab.
       mLab is MongoDB hosting platform that provides cloud Database-as-a-Service.This app is deployed using GIT and Heroku.</p>
    </div>
  <button id="backButton" onclick="window.history.back()"> Back </button>
  </body>
  <footer>
    &copy; Hari kumar Gurudu 2017. All Rights Reserved.
  </footer>
</html>
